.dd{
    font-weight: 500;
    font-size: 24px;
    margin-top: 340px;
    margin-left: 100px;
}
.ee{
    font-weight: 500;
    font-size: 24px;
    margin-top: 50px;  
    margin-left: 100px;
}